literature/
Bürokratie/
src/logs_archive
Stundenplan 8.FS.xlsx
src/logs/debug
src/models/debug
src/data
src/evaluation_errors
Thesis
src/logs_new_metric
src/models
src/jobs
src/evaluation_errors3l
src/evaluation_errors2l
src/models3l
src/models2l
src/logs_new_metric2l
src/logs_new_metric3l
presentation